<div ng-controller="SidenavController" layout="vertical">
  <md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-sm')"
    md-disable-backdrop
    md-whiteframe="4">

    <md-content>
      <md-section>
        <md-list ng-if="getCurrentUser() == null">
          <md-list-item ng-click="openLink('login')">
            <span flex>Login</span>
          </md-list-item>

          <md-list-item ng-click="openLink('signup')">
            <span flex>Register</span>
          </md-list-item>
        </md-list>

        <md-list>
          <!--<md-list ng-if="getCurrentUser() != null">-->
          <!-- BUDGET -->
          <md-list-item class="noright" ng-repeat="item in sidenav.menu" ng-click="openLink(item.state)">
            <md-icon class="md-avatar-icon" md-svg-icon="{{item.icon}}"></md-icon>
            <span flex>{{item.title}}</span>
          </md-list-item>

          <!-- ACCOUNTS -->
          <md-subheader>Accounts</md-subheader>
          <md-list-item ng-repeat="account in accounts" ng-click="openLink('bank-account/' + account._id)">
            <span>{{account.name}}</span>
            <span flex></span>
            <span>{{account.current.balance}}</span>
          </md-list-item>

          <!-- New Account -->
          <md-list-item ng-click="openAddAccountDialog(ev)">
            <span flex></span>
            <span>New Account</span>
          </md-list-item>

          <md-divider></md-divider>

          <md-list-item ng-click="openLink('logout')">
            <span flex>Logout</span>
          </md-list-item>

        </md-list>
      </md-section>
    </md-content>
  </md-sidenav>
</div>
