<md-toolbar ng-controller="NavbarController">
  <div class="md-toolbar-tools">
    <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Open Sidebar" hide-gt-sm>
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <!--<h2>-->
      <!--<span>Money Bags</span>-->
    <!--</h2>-->
    <img src="http://imgur.com/S9TTmcE.png" class="mb-navbar-img" />
    <span flex></span>
    <md-button>Register</md-button>
    <md-button class="md-raised">Login</md-button>
  </div>
</md-toolbar>
