<div ng-controller="NavbarController" layout="column" flex ng-cloak>
  <section layout="row" flex>
    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm')"
        md-whiteframe="4">

      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>
            <span>Money Bags</span>
          </h2>
          <span flex></span>
          <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Close Sidebar" hide-gt-sm>
            <md-icon md-svg-icon="minimise"></md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-content>
        <div layout="column">
          <!-- BUDGET -->
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>
                <span>Budget</span>
              </h2>
            </div>
          </md-toolbar>

          <md-content>
            <md-list>
              <md-list-item ng-repeat="item in nav.menu" ng-click="openLink(item.state)">
                <span>{{item.title}}</span>
              </md-list-item>
            </md-list>
          </md-content>


          <!-- ACCOUNTS -->
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>
                <span>Accounts</span>
              </h2>
              <span flex></span>
              <span>£123.45</span>
            </div>
          </md-toolbar>

          <md-content>
            <md-list>
              <md-list-item ng-repeat="account in accounts">
                <span>{{account.name}}</span>
                <span flex></span>
                <span>{{account.current.balance}}</span>
              </md-list-item>

              <md-divider></md-divider>

              <!-- New Account -->
              <md-list-item ng-click="openNewAccountModal()">
                <span flex></span>
                <span>New Account</span>
              </md-list-item>
            </md-list>
          </md-content>
        </div>
      </md-content>
    </md-sidenav>
  </section>
</div>

<!--
<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">money bags</a>
    </div>
    <div collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
-->
