<div ng-controller="NavbarController" layout="column" flex ng-cloak>
  <section layout="row" flex>
    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm')"
        md-whiteframe="4">

      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>
            <span>Money Bags</span>
          </h2>
          <span flex></span>
          <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Close Sidebar" hide-gt-sm>
            <md-icon md-svg-icon="minimise"></md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-content>
        <div layout="column">
          <!-- BUDGET -->
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>
                <span>Budget</span>
              </h2>
            </div>
          </md-toolbar>

          <md-content>
            <md-list>
              <md-list-item ng-repeat="item in nav.menu" ng-click="openLink(item.state)">
                <span>{{item.title}}</span>
              </md-list-item>
            </md-list>
          </md-content>


          <!-- ACCOUNTS -->
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>
                <span>Accounts</span>
              </h2>
              <span flex></span>
              <span>£123.45</span>
            </div>
          </md-toolbar>

          <md-content>
            <md-list>
              <md-list-item ng-repeat="account in accounts" ng-click="openLink('bank-account/' + account._id)">
                <span>{{account.name}}</span>
                <span flex></span>
                <span>{{account.current.balance}}</span>
              </md-list-item>

              <md-divider></md-divider>

              <!-- New Account -->
              <md-list-item ng-click="openAddAccountDialog(ev)">
                <span flex></span>
                <span>New Account</span>
              </md-list-item>
            </md-list>
          </md-content>
        </div>
      </md-content>
    </md-sidenav>
  </section>
</div>
